OCI_REGION=eu-paris-1
OCI_USER_ID=ocid1.user.oc1..aaaaaaaae5eby637n6ebabuyw4pdszxswsedgjkdq2gpwtmdpqcrsm6nub2q
OCI_TENANCY_ID=ocid1.tenancy.oc1..aaaaaaaaxdc47rpan5lv5onwg4ejgmcoawuunjjjefr2rom632cpfhk76hpa
OCI_KEY_FINGERPRINT=7b:bd:37:bf:c9:58:10:3b:06:a0:dc:8e:7e:61:6e:7d
OCI_PRIVATE_KEY_FILENAME="/home/runner/work/oci-arm-host-capacity/oci-arm-host-capacity/private_key.pem"
OCI_SUBNET_ID=ocid1.subnet.oc1.eu-paris-1.aaaaaaaakwcdvibqng4uhb2w6lzr3z74oqqd2zot2heozz6tdxlv4outaciq
OCI_IMAGE_ID=ocid1.image.oc1.eu-paris-1.aaaaaaaa35iagnloefityaefi53t5ra2hr2odmczhzf6zaxmlrae3avu5kya
OCI_OCPUS=4
OCI_MEMORY_IN_GBS=24
OCI_SHAPE=VM.Standard.A1.Flex
OCI_MAX_INSTANCES=1
OCI_SSH_PUBLIC_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID3s2yzQHHvQFPA2pZaEJiQmwP96G9rqnQ8l/KfnvY0f vaultwarden-oracle"
OCI_AVAILABILITY_DOMAIN=jLoI:EU-PARIS-1-AD-1
CACHE_AVAILABILITY_DOMAINS=1
OCI_BOOT_VOLUME_SIZE_IN_GBS=200
OCI_BOOT_VOLUME_ID=
TOO_MANY_REQUESTS_TIME_WAIT=600
